/** Search form */
.search-form {
  @apply flex items-start;

  .search-field {
    @apply block appearance-none w-full py-2 px-2 mb-0 text-base leading-normal bg-primary text-red border-none border-grey;

    transition: all 0.4s;

    &:hover,
    &:focus {
      @apply bg-white text-grey-dark;
    }
  }

  &:hover .search-field {
    @apply bg-white text-grey-dark;
  }
}

.search-form label {
  font-weight: normal;
}

.search-form .search-submit {
  @apply inline-block align-middle text-center select-none border-none font-normal whitespace-no-wrap py-2 px-4 text-sm leading-normal no-underline text-white bg-primary uppercase;

  font-family: benton-sans-compressed, sans-serif;
  transition: all 0.4s;
  height: 40px;

  &:hover {
    @apply bg-white text-primary;
  }
}

/** Contact 7 form */
.wpcf7-form {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  textarea {
    border: 1px solid black;
    padding: 10px;
  }

  input[type="submit"] {
    background: $primary;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
}

/** FormStack form */
.fsForm {
  .fsRequiredLabel {
    text-transform: uppercase;
    color: black;
  }

  .fsFieldRow {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"] {
      border: 1px solid black;
      transition: all 0.4s;
    }

    .fsCurrencyPrefix {
      height: 50px;
      padding-top: 8px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      margin-right: 0 !important;
      padding-right: 4px;

      + .fsFormatNumber {
        height: 50px;
        border-left: 0 solid;
        width: 100px !important;
        font-weight: bold;
        font-size: 1.25em;
        color: green;
      }
    }

    .fsSubmitButton {
      background: $primary;
      padding: 15px 30px;
      text-transform: uppercase;
    }
  }
}

/** Form Page */
.template-form {
  .form-bg {
    max-height: 80vh;
    height: 80vh;
    overflow-y: scroll;

    h1 + span {
      max-width: 466px;
    }
  }
}
