/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  @apply my-2 mx-auto;

  display: block;
  height: auto;
}

.alignleft,
.alignright {
  @apply mb-4;

  height: auto;
}

@screen sm {
  .alignleft {
    @apply mr-4;

    float: left;
  }

  .alignright {
    @apply ml-4;

    float: right;
  }
}

/** Captions */
.wp-caption {
  @apply inline-block mb-4;
}

.wp-caption img {
  @apply mb-2 leading-none max-w-full h-auto;
}

.wp-caption-text {
  font-size: 90%;
  color: #372e2c;
  padding: 5px 0;
}

/** Text meant only for screen readers */
.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.screen-reader-text:active,
.sr-only-focusable:focus,
.screen-reader-text:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.gallery::after {
  content: "";
  display: table;
  clear: both;
}

img.aligncenter,
div.aligncenter,
figure.aligncenter,
img.wp-post-image {
  display: block;
  margin: 1em auto;
}

img.alignright,
div.alignright,
figure.alignright {
  float: right;
  margin: 1em 0 1em 2em;
}

img.alignleft,
div.alignleft,
figure.alignleft,
img.wp-post-image.attachment-thumb {
  float: left;
  margin: 1em 1em 2em 0;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
}

p img.alignright,
p img.alignleft {
  margin-top: 0;
}

.gallery figure img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.gallery figure {
  float: left;
  margin: 0 2% 1em 0;
  text-align: center;
}

.gallery.gallery-columns-1 figure {
  width: 100%;
  margin: 0 0 1em 0;
  float: none;
}

.gallery.gallery-columns-2 figure {
  width: 49%;
}

.gallery.gallery-columns-3 figure {
  width: 32%;
}

.gallery.gallery-columns-4 figure {
  width: 23.25%;
}

.gallery.gallery-columns-3 figure:nth-of-type(3n+3) {
  margin-right: 0;
}

.gallery.gallery-columns-3 figure:nth-of-type(3n+4) {
  clear: left;
}

.gallery.gallery-columns-2 figure:nth-of-type(even) {
  margin-right: 0;
}

.gallery.gallery-columns-2 figure:nth-of-type(odd) {
  clear: left;
}

.gallery.gallery-columns-4 figure:nth-of-type(4n+4) {
  margin-right: 0;
}

.gallery.gallery-columns-4 figure:nth-of-type(4n+5) {
  clear: left;
}

@media (max-width: 767px) {
  img.alignright,
  div.alignright,
  figure.alignright,
  img.alignleft,
  div.alignleft,
  figure.alignleft,
  img.wp-post-image.attachment-thumb {
    display: block;
    margin: 1em auto;
    float: none;
  }

  .gallery.gallery-columns-4 figure {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }
}
