.page-template-template-events {
  .success-box {
    .upcoming {
      font-family: benton-sans-condensed, sans-serif;
    }

    img {
      width: 100%;
    }
  }
}

.tribe-events-event-meta {
  background: none !important;
  border: none !important;

  .tribe-events-meta-group {
    width: 100%;
    padding: 0;
  }

  .tribe-events-single-section-title {
    display: none;
  }

  dd {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
