/**
* FacetWP rules. For styling the Facet UI to match the site.
*/
//Filters on ExploreNY
.borough-facet {
  z-index: 9999;
  padding: 15px 0;

  .facetwp-facet {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

    .facetwp-dropdown {
      border: 1px solid black;
      padding: 5px;
      min-width: 200px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: 0.9em;
      background-position: calc(100% - 0.9em) center;
      background-repeat: no-repeat;
    }

    select::-ms-expand {
      display: none;
    }
  }
}

//Facet Pagers on Explore and SSOH
.navigation .facetwp-page {
  padding: 15px 20px;
}

.facetwp-pager {
  text-align: center;
}

.facetwp-template {
  article {
    img {
      margin: 0;
    }
  }
}

.site-box {
  @apply border-b-2 w-full flex flex-wrap;

  .site-box-details {
    @apply pl-5 w-3/5;
  }

  .site-box-image {
    @apply w-2/5;
  }
}

.pbt-box {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;

  @screen md {
    max-width: calc(50% - 20px);
  }

  @screen lg {
    max-width: calc(33% - 20px);
  }

  .size-news_thumb {
    margin: 0;
    padding: 0;
  }

  .btn {
    position: absolute;
    width: calc(100% - 4rem);
    bottom: 1rem;
    left: 2rem;
  }
}

.activities_list {
  li {
    border-right: 2px solid #333;
    padding-right: 4px;
    margin-right: 4px;
  }

  li:last-of-type {
    border-right: none;
  }
}

//SSOH Facets
.facet-group {
  .facetwp-facet {
    margin-bottom: 15px;
  }

  .fs-label-wrap {
    border: 2px solid #333;
  }
}

.facetwp-page:hover {
  background: white;
  color: black;
  border: 1px solid white;
  border-bottom: 1px solid black;
}

.facetwp-page.active {
  background: black;
  color: white;
  border: 1px solid black;
}

//SSOH Listing Area Facet Template
.facet_template_area .facetwp-template {
  @apply flex flex-wrap w-full;

  article .border-b-2 {
    min-height: 230px;
  }

  address {
    font-family: benton-sans, sans-serif;
    font-style: normal;
  }
}
