.content-info {
  border-bottom: 16px solid $primary;
  background: white;
  padding: 70px 0 10px;

  .widget_roots_vcard {
    font-size: 19px;
    font-weight: 400;
  }

  h2 {
    margin-bottom: 25px;
    font-family: benton-sans-condensed, sans-serif;
  }

  .org {
    color: #372e2c;
    font-weight: 700;
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 0;
    background: none;
    text-transform: uppercase;
    color: #372e2c;
    padding: 20px 0;
    width: 250px;
    text-align: center;
  }

  .social-links {
    margin: 30px 0;

    a {
      font-size: 26px;
      padding: 0 15px;
      border: none;

      &:hover {
        border: none;
      }
    }
  }
}

.copyright {
  order: 999;
}

#supportHome {
  @apply bg-red;

  h2 {
    margin-bottom: 50px;
    background: $primary;

    &::before {
      background: white;
    }
  }

  h3,
  .btn {
    font-family: benton-sans-condensed, sans-serif;
  }

  h2 span {
    @apply bg-red;
  }
}

#newsletterSignup {
  background: #505662;

  .ctct-form-field {
    display: inline-block;
    padding-right: 10px;
    width: 25%;

    input {
      padding: 10px;
      width: 100%;
    }
  }

  .ctct-form-field-hidden {
    padding: 0;
    margin: 0;
    width: 0;
  }

  .ctct-form-field-submit input {
    color: white;
    background: $primary;
    border: 1px solid $primary;
    padding: 10px 45px;
    text-transform: uppercase;
  }
}

#menu-footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;

  a {
    color: #372e2c;
    font-weight: 400;
  }

  > li {
    display: block;//inline-block;
    width: 100%;//22%;
    vertical-align: top;
    border: none;

    > a {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;//25px;
      display: block;
      padding: 20px 0;
      border-top: 1px solid black;
    }
  }

  .sub-menu {
    display: none;
    padding: 0;
    list-style: none;

    a {
      font-size: 15px;
      margin-bottom: 15px;
      display: inline-block;
    }
  }

  > li:last-child > a {
    border-bottom: 1px solid black;
  }

  #menu-item-34 {
    width: auto;
  }

  #menu-item-35 {
    width: 15%;
  }

  #menu-item-38 {
    width: 10%;
  }
}

@screen md {
  .content-info {
    .btn {
      margin-top: 50px;
    }
  }

  .copyright {
    order: initial;
  }

  #menu-footer-nav {
    > li {
      display: inline-block;
      width: 22%;

      > a {
        margin-bottom: 25px;
        border: none;
      }
    }

    .sub-menu {
      display: block;
    }

    > li:last-child > a {
      border-bottom: none;
    }
  }
}
