.banner {
  color: white;

  .nav {
    @apply list-reset flex flex-wrap;

    li {
      margin-left: 30px;
    }

    a {
      @apply inline-block px-5 py-3 text-xl text-white border-none;

      font-family: benton-sans-condensed, sans-serif;
      font-weight: 600;

      &:hover {
        color: black;
        background: white;
      }
    }
  }

  .menu-main-menu-container {
    margin-left: 30px;
  }

  .brand {
    img {
      max-width: 200px;
      margin: 10px 0;
    }
  }

  .btn-donate {
    @apply bg-white text-primary uppercase inline-block;

    padding: 13px 30px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
  }
}
