.home {
  .full-section:nth-of-type(odd) {
    @apply bg-blue-grey;
  }
}

.carousel-container {
  position: relative;
  top: 0;
  left: 0%;
  margin: 0;
  width: 100%;
  bottom: 0;

  .carouselImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 24s;
  }
}

@keyframes fade {
  0% { opacity: 0; }
  24% { opacity: 0; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  66% { opacity: 0; }
  100% { opacity: 0; }
}

#f0 {
  animation-delay: -8s;
}

#f2 {
  animation-delay: -16s;
}

#homeLanding {
  min-height: 400px;
  overflow: hidden;

  @screen xl {
    min-height: 80vh;
  }

  h1 {
    @apply text-center text-5xl text-white mx-auto pb-5;

    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 400px;
  }

  p {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    max-width: 410px;
  }
}

#exploreHome {
  background: white;
}
//Home::News
#homeNews {
  h2 span {
    @apply bg-blue-grey;
  }
}
//Responsive
