.home {
  .full-section:nth-of-type(odd) {
    @apply bg-blue-grey;
  }
}

#homeLanding {
  min-height: 400px;

  @screen xl {
    min-height: 80vh;
  }

  h1 {
    @apply text-center text-5xl text-white mx-auto pb-5;

    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 400px;
  }

  p {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    max-width: 410px;
  }
}
//Home::News
#homeNews {
  h2 span {
    @apply bg-blue-grey;
  }
}
//Responsive
