//Borough Red Dot for Landmarks
.borough {
  &::before {
    background: $primary;
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -16px;
    top: 0;
  }
}

//Landmark Video Embed
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//News Items
.single-post,
.blog {
  .content {
    .main {
      order: -1;
    }
  }

  .news-card {
    .box-image {
      order: -1;
    }
  }
}

//Standard Post Styles
.entry-content {
  .content {
    h2 {
      position: relative;
      color: black;
      font-size: 2em;

      &::before {
        position: relative;
        background: none;
      }
    }
  }
}

.post-password-form {
  padding: 25px;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #eee;
  margin: 30px auto;
  max-width: 500px;

  input[type="password"] {
    padding: 10px;
  }

  input[type="submit"] {
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    background: $primary;
    border: 2px solid;
    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      background: white;
      color: $primary;
      border: 2px solid $primary;
    }
  }
}

.meeting-list {
  list-style: none;
}

.nav-previous a {
  padding: 15px 25px;
  color: white;
  background: $primary;
}

.entry-share {
  background: #efefef;
  display: block;
  width: 100%;
  float: left;
  padding: 10px;
  border-radius: 3px;

  .entry-share-btns {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    &::before {
      content: "Share the Article:";
    }

    li {
      display: inline-block;
      margin: 0.25em;
    }

    a {
      background: $primary;
      display: block;
      padding: 0.25em 0.75em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;
      border-radius: 6px;
      font-size: 1em;
      transition: all 0.4s;

      &:hover {
        background: #666;
      }
    }

    .entry-share-btn-icon {
      position: relative;
      top: 3px;
      display: inline-block;
      fill: #fff;
      stroke: none;
    }

    span {
      display: inline-block;
      padding-left: 0.4em;
      color: white;
    }

    svg {
      width: 1em;
      height: 1em;
      vertical-align: baseline;
    }
  }
}

/* Explore NY */
.acf-map {
  display: none;
}

.acf-map img {
  max-width: inherit !important;
}

.map-list-container {
  margin-top: 140px;

  .marker {
    display: none;
  }
}

.borough-facet {
  z-index: 9999;
  padding: 15px 0;

  .facetwp-facet {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

    .facetwp-dropdown {
      border: 1px solid black;
      padding: 5px;
      min-width: 200px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: 0.9em;
      background-position: calc(100% - 0.9em) center;
      background-repeat: no-repeat;
    }

    select::-ms-expand {
      display: none;
    }
  }
}

.navigation .facetwp-page {
  padding: 15px 20px;
}

.facetwp-template {
  article {
    img {
      margin: 0;
    }
  }
}

.facetwp-page:hover {
  background: white;
  color: black;
  border: 1px solid white;
  border-bottom: 1px solid black;
}

.facetwp-page.active {
  background: black;
  color: white;
  border: 1px solid black;
}

#menu-trustee-portal {
  li {
    padding: 0 0 7px;
  }

  a {
    @apply text-black text-xl capitalize;

    &:hover {
      @apply text-primary;
    }
  }
}

@screen lg {
  .single-post,
  .blog {
    .content {
      .main {
        order: 0;
      }
    }

    .news-card {
      .box-image {
        order: 0;
      }
    }
  }

  /* Explore NY */
  .acf-map {
    width: 100%;
    height: 80vh;
  }

  .map-list-container {
    margin-top: 0;
    height: 80vh;
    overflow-y: scroll;
  }
}
