//Borough Red Dot for Landmarks
.borough {
  &::before {
    background: $primary;
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    left: -30px;
    top: 0;
  }
}

//Landmark Video Embed
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//News Items
.single-post,
.blog {
  .content {
    .main {
      order: -1;
    }
  }
}

//Standard Post Styles
.entry-content {
  .content {
    h2 {
      position: relative;
      color: black;

      &::before {
        position: relative;
        background: none;
      }
    }
  }

  .ssba {
    background: #efefef;
    padding: 10px;

    .ssba-share-text {
      text-transform: uppercase;
      color: black;
      font-family: benton-sans-condensed, sans-serif;
      font-weight: bold;
    }

    br {
      display: none;
    }
  }
}

.post-password-form {
  padding: 25px;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #eee;
  margin: 30px auto;
  max-width: 500px;

  input[type="password"] {
    padding: 10px;
  }

  input[type="submit"] {
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    background: $primary;
    border: 2px solid;
    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      background: white;
      color: $primary;
      border: 2px solid $primary;
    }
  }
}

.nav-previous a {
  padding: 15px 25px;
  color: white;
  background: $primary;
}

/* Explore NY */
.acf-map {
  width: 100%;
  height: 800px;
}

.acf-map img {
  max-width: inherit !important;
}

.map-list-container {
  height: 800px;
  overflow-y: scroll;

  .marker {
    display: none;
  }
}

.borough-facet {
  z-index: 9999;
  padding: 15px 0;

  .facetwp-facet {
    margin: 0;

    .facetwp-dropdown {
      border: 1px solid black;
      padding: 5px;
      min-width: 200px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: 0.9em;
      background-position: calc(100% - 0.9em) center;
      background-repeat: no-repeat;
    }

    select::-ms-expand {
      display: none;
    }
  }
}

.navigation .facetwp-page {
  padding: 15px 20px;
}

.facetwp-page:hover {
  background: white;
  color: black;
  border: 1px solid white;
  border-bottom: 1px solid black;
}

.facetwp-page.active {
  background: black;
  color: white;
  border: 1px solid black;
}

@screen lg {
  .single-post,
  .blog {
    .content {
      .main {
        order: 0;
      }
    }
  }
}
