.facetwp-facet {
  padding: 10px 0;
}

.sidebar {
  h3 {
    @apply text-black;

    border-bottom: 2px solid black;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 14px;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  li {
    padding: 10px 5px;

    a {
      color: $primary;
    }
  }

  .widget_ssba_widget {
    h3 {
      text-align: center;
    }
  }

  .ssba a {
    display: block;
    text-align: center;
  }

  .widget {
    margin-bottom: 25px;
  }
}
